@font-face {
    font-family: 'SegoeUI';
    src: url('segoeui.eot'); /* IE9 Compat Modes */
    src: url('segoeui.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('segoeui.woff') format('woff'), /* Modern Browsers */
    url('segoeui.ttf') format('truetype'), /* Safari, Android, iOS */
    url('segoeui.svg#SegoeUI') format('svg'); /* Legacy iOS */
}


@font-face {
    font-family: 'SegoeUIBold';
    src: url('segoeuibold.eot'); /* IE9 Compat Modes */
    src: url('segoeuibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('segoeuibold.woff') format('woff'), /* Modern Browsers */
    url('segoeuibold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('segoeuibold.svg#SegoeUI') format('svg'); /* Legacy iOS */
}


@font-face {
    font-family: 'SegoeUILight';
    src: url('segoeuilight.eot'); /* IE9 Compat Modes */
    src: url('segoeuilight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('segoeuilight.woff') format('woff'), /* Modern Browsers */
    url('segoeuilight.ttf') format('truetype'), /* Safari, Android, iOS */
    url('segoeuilight.svg#SegoeUILight') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'SegoeUISemiBold';
    src: url('segoeuisemibold.eot'); /* IE9 Compat Modes */
    src: url('segoeuisemibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('segoeuisemibold.woff') format('woff'), /* Modern Browsers */
    url('segoeuisemibold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('segoeuisemibold.svg#SegoeUISemiBold') format('svg'); /* Legacy iOS */
}